.char-card {
    width: 12.5% !important;
}

@media (max-width: 1000px) {
    .char-card {
        width: calc(100%/7) !important;
    }
}

@media (max-width: 850px) {
    .char-card {
        width: calc(100%/6) !important;
    }
}

@media (max-width: 750px) {
    .char-card {
        width: calc(100%/3) !important;
    }
}

.char-cardContainer {
    position: relative;
}

.char-cardContainer img:hover {
    box-shadow: 0 0 20px 3px inset white;
}

.char-cardContainer a {
    color: var(--bs-card-color) !important;
}

.char-portrait {
    --bs-bg-opacity: 0.1 !important;
    width: 100%;
}

.char-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.7rem;
    transform: translateY(-40%);
}

.bg-opacity-10 {
    --bs-bg-opacity: 0.1 !important;
}

span.char-badge {
    --bs-badge-font-size: 0.70em;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: bolder;
    color: #fdb528;
    background-color: rgba(81, 72, 72, 0.8);
    border-radius: 0 0 0.5rem 0.5rem;
}

.tooltip-inner {
    max-width: 350px;
    min-width: 250px
}