.char-card {
    width: 12.5% !important;
}

@media (max-width: 1000px) {
    .char-card {
        width: calc(100%/7) !important;
    }
}

@media (max-width: 850px) {
    .char-card {
        width: calc(100%/6) !important;
    }
}

@media (max-width: 750px) {
    .char-card {
        width: calc(100%/3) !important;
    }
}

.char-cardContainer {
    position: relative;
}

.char-cardContainer.disabled {
    filter: grayscale(1);
    pointer-events: none;
}

.char-cardContainer .char-portrait:hover {
    box-shadow: 0 0 20px 3px inset white;
}

.char-cardContainer a {
    color: var(--bs-card-color) !important;
}

.char-portrait {
    --bs-bg-opacity: 0.1 !important;
    width: 100%;
}

.char-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.7rem;
    transform: translateY(-40%);
}

.card-rarity {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    z-index: 2;
}

.card-rarity-ssr {
    transform: translate(0, 35%);
}

.card-rarity-sr {
    transform: translate(12%, 35%);
}

.card-rarity-r {
    transform: translate(25%, 35%);
}

.bg-opacity-10 {
    --bs-bg-opacity: 0.1 !important;
}

span.card-badge {
    --bs-badge-font-size: 0.70em;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
    border-radius: 0.5rem 0 0.5rem 0;
}

span.card-badge-middle {
    bottom: 40%;
    border-radius: 0
}

span.card-badge-orange {
    color: #fdb528;
    background-color: rgba(81, 72, 72, 0.8);
    border-radius: 0 0 0.5rem 0.5rem;
}

span.card-badge-width-ssr {
    width: 40%;
}

span.card-badge-width-sr {
    width: 31%;
}

span.card-badge-width-r {
    width: 22%;
}

.tooltip-inner {
    max-width: 350px;
    min-width: 250px
}

#navItemsContainer {
    max-width: 1140px
}

@media (min-width: 800px) {
    div.form-check-md-inline {
        display: inline-block;
        margin-right: 1rem;
    }
}

.dtt-indicator {
    color: #26c6f9
}

