.char-card {
    width: 12.5% !important;
}

@media (max-width: 1000px) {
    .char-card {
        width: calc(100%/7) !important;
    }
}

@media (max-width: 850px) {
    .char-card {
        width: calc(100%/6) !important;
    }
}

@media (max-width: 750px) {
    .char-card {
        width: calc(100%/4) !important;
    }
}

.char-cardContainer {
    position: relative;
}

.char-portrait {
    --bs-bg-opacity: 0.1 !important;
    width: 100%;
}

.char-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.7rem;
    transform: translateY(-40%);
}