img.svg-logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(23deg) brightness(101%) contrast(103%);
}

img.link-btn-logo {
    width: 3rem;
    max-width: 100%;
}

a.btn-color-twitter {
    background-color: #00acee;
    border-color: #00acee;
}

a.btn-color-discord {
    background-color: #7289da;
    border-color: #7289da;
}

a.btn-color-gcdb {
    background-color: darkslategrey;
    border-color: darkslategrey;
}

#middle-ad-container {
    box-sizing: border-box;
}
