.selectize-input {
    height: calc(2.940725rem + 2px);
    padding: 0.85em;

    background-color: var(--bs-body-bg) !important;
    color: #d2d2e8;
    border-color: #4f5269;
}

.selectize-dropdown {
    background-color: #30334e;
    color: #a0a1b8;
}

.selectize-dropdown-content > div {
    padding: 0.483rem 1rem !important;
}

.selectize-dropdown .active {
    padding: 0.483rem 1rem !important;
}

.selectize-dropdown .active:not(.selected) {
    background-color: rgba(234, 234, 255, 0.06);
    color: #a0a1b8;
}

.selectize-dropdown [data-selectable] .highlight {
    background: none;
}

.selectize-input input::placeholder{
    color: var(--bs-body-color);
}

#selectize-squad-selectized {
    color: #d2d2e8;
}