---
layout: default
title: Characters
description: Playable Characters in Black Clover Mobile&#58; Rise of the Wizard King
navActive: characters
---
{% include maintenanceHeader.html %}
<div class="card mb-4">
    <div class="card-header pb-0">
        <h1 class="h4 text-center">Black Clover Mobile Characters</h1>
        <div class="divider">
            <div class="divider-text">Filters</div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <div class="form-floating form-floating-outline">
                <input type="text" class="form-control bg-body"
                id="nameInput" placeholder="Search here.."
                onkeyup="filterCharacters()">
                <label for="searchInput">Search Names..</label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <p class="fw-semibold d-block mb-3">Type</p>
                <div class="row m-0">
                    <div class="col col-md-4 mx-0 form-check form-check-md-inline">
                        <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio-attacker" value="attacker" />
                        <label class="form-check-label" for="typeRadio-attacker">Attacker</label>
                    </div>
                    <div class="col col-md-4 mx-0 form-check form-check-md-inline">
                        <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio-defender" value="defender" />
                        <label class="form-check-label" for="typeRadio-defender">Defender</label>
                    </div>
                    <div class="col col-md-4 mx-0 form-check form-check-md-inline">
                        <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio-healer" value="healer" />
                        <label class="form-check-label" for="typeRadio-healer">Healer</label>
                    </div>
                    <div class="col col-md-4 mx-0 form-check form-check-md-inline">
                        <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio-supporter" value="supporter" />
                        <label class="form-check-label" for="typeRadio-supporter">Supporter</label>
                    </div>
                    <div class="col col-md-4 mx-0 form-check form-check-md-inline">
                        <input class="form-check-input" type="radio" name="typeRadio" id="typeRadio-debuffer" value="debuffer" />
                        <label class="form-check-label" for="typeRadio-debuffer">Debuffer</label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <p class="fw-semibold d-block mb-3">Rarity</p>
                <div class="form-check form-check-md-inline">
                    <input class="form-check-input" type="radio" name="rarityRadio" id="rarityRadio-ssr" value="ssr" />
                    <label class="form-check-label" for="rarityRadio-ssr">SSR</label>
                </div>
                <div class="form-check form-check-md-inline">
                    <input class="form-check-input" type="radio" name="rarityRadio" id="rarityRadio-sr" value="sr" />
                    <label class="form-check-label" for="rarityRadio-sr">SR</label>
                </div>
                <div class="form-check form-check-md-inline">
                    <input class="form-check-input" type="radio" name="rarityRadio" id="rarityRadio-r" value="r" />
                    <label class="form-check-label" for="rarityRadio-r">R</label>
                </div>
            </div>
            <div class="col-5">
                <p class="fw-semibold d-block mb-3">Class</p>
                <div class="form-check form-check-md-inline">
                    <input class="form-check-input" type="radio" name="classRadio" id="classRadio-proficiency" value="proficiency" />
                    <label class="form-check-label" for="classRadio-proficiency">Proficiency</label>
                </div>
                <div class="form-check form-check-md-inline">
                    <input class="form-check-input" type="radio" name="classRadio" id="classRadio-tenacity" value="tenacity" />
                    <label class="form-check-label" for="classRadio-tenacity">Tenacity</label>
                </div>
                <div class="form-check form-check-md-inline">
                    <input class="form-check-input" type="radio" name="classRadio" id="classRadio-wisdom" value="wisdom" />
                    <label class="form-check-label" for="classRadio-wisdom">Wisdom</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <select id="squadSelect" placeholder="Search Squads..">
                    <option value=""></option>
                    <option value="aqua-deer">Aqua Deer</option>
                    <option value="black-bulls">Black Bulls</option>
                    <option value="blue-rose-knights">Blue Rose Knights</option>
                    <option value="clover-kingdom">Clover Kingdom</option>
                    <option value="crimson-lion-kings">Crimson Lion Kings</option>
                    <option value="diamond-kingdom">Diamond Kingdom</option>
                    <option value="golden-dawn">Golden Dawn</option>
                    <option value="green-praying-mantises">Green Praying Mantises</option>
                    <option value="silver-eagles">Silver Eagles</option>
                    <option value="the-eye-of-the-midnight-sun">The Eye of the Midnight Sun</option>
                </select>
            </div>
            <div class="col-3">
                <button class="btn btn-label-warning h-100 w-100" onclick="clearFields()">
                    <span class="fs-4 mdi mdi-filter-variant-remove me-1"></span>
                    <span class="d-none d-md-inline-flex">CLEAR</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header pb-0">
        <div class="divider">
            <div class="divider-text">Characters</div>
        </div>
    </div>
    <div class="card-body">
        <div id="char-cardDiv" class="row mb-4">
            {% assign charGroupByNew = site.characters | group_by: "new" | sort: "name" | reverse %}
            {% for charGroup in charGroupByNew %}
            {% assign sortedCharacters = charGroup.items | sort_natural: "name" %}
            {% for c in sortedCharacters %}
                {% unless c.hiddenFromSearch %}
                    <div class="char-card pb-3"
                    data-name="{{ c.name }}" data-squad="{{ c.squad | downcase | replace: ' ', '-' }}"
                    data-type="{{ c.type }}" data-rarity="{{ c.rarity }}" data-class="{{ c.class }}">
                        <div class="char-cardContainer {% if c.disabled %}disabled{% endif %}">
                            <a href="{{ c.url }}">
                                <img class="char-portrait bg-dark rounded" src="{{ site.baseurl }}/img/characters/UI_Portrait_H_S_{{ c.ovr.pImgPath | default: c.name }}_01.png" loading="lazy" alt="{{ c.name }}"/>
                                <div class="char-title bg-body px-1 text-nowrap">{{ c.name | capitalize | truncate: 14 }}</div>
                                {% if c.new %}
                                    <span class="badge card-badge card-badge-orange w-100">NEW</span>
                                {% else %}
                                    <span class="badge card-badge card-badge-width-{{ c.rarity }}">&nbsp;</span>
                                {% endif %}
                                {% if c.disabled %}
                                    <span class="badge card-badge card-badge-middle w-100">{{ c.disabled }}</span>
                                {% endif %}
                            </a>
                            <div class="card-rarity card-rarity-{{ c.rarity }}">
                                <img class="w-100" src="{{ site.baseurl }}/img/rarity/UI_Icon_Grade_{{ c.rarity | upcase }}.png" loading="lazy" alt="{{ c.rarity }}">
                            </div>
                        </div>
                    </div>
                {% endunless %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
