<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <p class="mx-3 text-center text-white">
        <span class="me-2">BCMDB is not affliated with or endorsed by Vic Game Studio</span> 
        <span class="me-2">|</span>
        <a class="link-info" href="{{ site.baseurl }}/privacyPolicy">Privacy Policy</a>
        <p><a href="http://www.playwire.com" rel="noopener" target="_blank"><img src="https://www.playwire.com/hubfs/Powered-by-Playwire-Badges/Ads-Powered-by-playwire-2021-standalone-small-white-300px.png" alt="Playwire" width="200" loading="lazy" style="width: 200px; margin-left: auto; margin-right: auto; display: block;"></p><p style="text-align: center;"><a href="/contact-direct-sales" rel="noopener" target="_blank">Advertise on this site.</a></p>
    </p>
    <script async src="//cdn.intergient.com/ramp_core.js"></script>
</footer>
<!--/ Footer -->