<!-- Navbar -->
<nav class="navbar navbar-expand navbar-dark bg-label-primary justify-content-center">
    <div id="navItemsContainer" class="container-fluid">
        <div class="me-2" style="height: 40px">
            <a href="{{ site.baseurl }}/"><img class="h-100" src="{{ site.baseurl }}/img/site/bc_logo_wh_jp.webp" loading="lazy" alt="brand-logo"></a>
        </div>
    </button>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link fs-5" href="{{ site.baseurl }}/characters">Characters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fs-5 disabled" href="{{ site.baseurl }}/grimoires">Grimoires (WIP)</a>
        </li>
    </ul>
</div>
</nav>

<div class="card mb-4">
    <div class="card-body bg-label-warning text-center">
        <h2>A quick note from the developer of BCM Database!</h1>
        <p class="lead mb-2">Some data might be inaccurate due to them being from beta. Updates are still being rolled out. Please be patient ecksdee.</p>
        <p class="lead mb-0"><b>The site is still a Work-in-Progress</b> and will be constantly updated with more features after the game’s launch.</p>
    </div>
</div>
<!--/ Navbar -->
