<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-label-primary justify-content-center">
    <div id="navItemsContainer" class="container-fluid">
        <div class="me-2" style="height: 40px">
            <a href="{{ site.baseurl }}/"><img class="h-100" src="{{ site.baseurl }}/img/site/bc_logo_wh_jp.webp" alt="brand-logo"></a>
        </div>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="navbar-collapse collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link fs-5" data-linkname="home" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" data-linkname="characters" href="/characters">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 disabled" data-linkname="grimoires" href="{{ site.baseurl }}/grimoires">Grimoires (WIP)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <div class="card mb-4">
    <div class="card-body bg-label-warning text-center">
        <h2>A quick note from the developer of BCM Database!</h1>
        <p class="lead mb-2">Some data might be inaccurate due to them being from beta. Updates are still being rolled out. Please be patient ecksdee.</p>
        <p class="lead mb-0"><b>The site is still a Work-in-Progress</b> and will be constantly updated with more features after the game’s launch.</p>
    </div>
</div> -->
<!--/ Navbar -->
